.dropdown-container{
  position: relative;
}
h1{
  font-size: 2em;
  color: white;
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 100px;
  }
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
header{
  background-image: url(https://images.squarespace-cdn.com/content/v1/5ae76a0f9772ae2e875cfc6e/1579187953445-ZXQ0T9EYRD4Q7VHH75PQ/HML02471-EFFECTS.jpg?format=300w);
  background-size: cover;
  background-position: center;
}
.header-content{
  padding: 100px 15px 70px;
}
h2{
  font-size: 30px;
}
#firstp{
  font-size: 16px;
}
.item1{
  background-image: url(http://free-templates.me/website-templates/download/business-2/images/writing.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.item2{
  background-image: url(http://free-templates.me/website-templates/download/business-2/images/concert.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.item3{
  background-image: url(http://free-templates.me/website-templates/download/business-2/images/pencil_sharpener.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.promo-item{
    height: 200px;
    line-height: 180px;
    text-align: center;
}
.promo-item h3{
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    color: white;
}
.promo-item:hover {
    background-size: 110%; 
    border: 10px solid rgba(255,255,255,0.3);
    line-height: 160px;
}
.btn{
  border-radius: 15px;
}
.intro{
  background-color: yellowgreen;
}
.footer{
  background-color: yellowgreen;
}